<header class='row'>
  <nav>
    <%= link_to "What?", '#', class: 'museo-font' %>
    <%= link_to "Where/When?", '#', class: 'museo-font'  %>
    <%= image_tag "loco-logo.png", size: "180x240", alt: "LocalMotion", class: "hero-logo" %>
    <%= link_to "Who?", '#', class: 'museo-font'  %>
    <%= link_to "Why Not?" , '#', class: 'museo-font'  %>
  </nav>
</header>